# [submodule "public"]
# 	path = public
# 	url = https://github.com/HwijaeKim/hwijaekim.github.io.git
# 	branch = source
[submodule "content"]
	path = content
	url = https://github.com/HwijaeKim/hwijaekim.github.io.git
	branch = content
[submodule "themes/Stack"]
	path = themes/Stack
	url = https://github.com/HwijaeKim/hugo-theme-stack.git
	branch = master
