---
title: "{ Development - Design }"
excerpt : "성실함과 집념의 프론트엔드 개발자 김휘재 입니다 ;)"
layout: archive
author_profile: true
<!-- category: Portfolio -->
<!-- entries_layout: list -->
sidebar:
    nav: "sidebar-category"

header:
    overlay_image: assets/images/banner2.jpg
    overlay_filter: 0.1 # same as adding an opacity of 0.5 to a black background
---
<h1>🖊️ 환영합니다: 포트폴리오</h1>

<div class="grid__wrapper">
    {% assign posts = site.categories.Projects %}
    {% for post in posts %}
    {% include archive-single3.html type="list" %}
    {% endfor %}
</div>
<!-- {% include paginator.html %}  -->

<br>
<br>