---
title: "{ Development - Design }"

excerpt : "성실함과 집념의 프론트엔드 개발자 김휘재 입니다."
layout: archive
author_profile: true
<!-- category: Portfolio -->
<!-- entries_layout: list -->
sidebar:
    nav: "sidebar-category"

header:
    overlay_image: assets/images/banner2.jpg
    overlay_filter: 0.1 # same as adding an opacity of 0.5 to a black background
---
<h1>🖊️ 환영합니다: 포트폴리오</h1>
<sub>연구 중이거나 학습 중인 내용은 <b>Research</b> 카테고리에 수록되어 있습니다.</sub>

<!-- Project 카테고리의 게시물만 보이도록 -->
<div class="grid__wrapper">
    {% assign posts = site.categories.Projects %}
    {% for post in posts %}
    {% include archive-single3.html type="list" %}
    {% endfor %}
</div>

<br><br>


<h1>🖊️ 전체 게시물</h1>
<sub>최신순으로 나열된 목록입니다.</sub>

<!-- 모든 게시글이 보이도록 -->
<div class="grid__wrapper">
    {% if paginator %}
        {% assign posts = paginator.posts %}
    {% else %}
        {% assign posts = site.posts %}
    {% endif %}

    {% for post in posts %}
        {% include archive-single3.html type="list" %}
    {% endfor %}
</div>



{% include paginator.html %} 

<br>
<br>
