<style>
  .sidebar-tech-icons img {
    width: auto;
    height: 24px;
    border-radius: 5px;
    opacity: .75;
    filter: saturate(.2);
  }
  .img-text {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 0;
  }
  @media (max-width: 768px) {
    .sidebar-tech-icons img {
      height: 20px;
    }
  }
</style>


{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">


    {% if page.author_profile  or layout.author_profile %}{% include author-profile.html %}{% endif %}
    <div class="sidebar-tech-icons">
      <!-- <p class="img-text">OK.</p> -->
      <img src="{{ 'https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white' | relative_url }}" alt="HTML">
      <img src="{{ 'https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white' | relative_url }}" alt="CSS">
      <img src="{{ 'https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E' | relative_url }}" alt="JS">
      <!-- <img src="{{ 'https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white' | relative_url }}" alt="GitHub"> -->
      <img src="{{ 'https://img.shields.io/badge/GIT-E44C30?style=for-the-badge&logo=git&logoColor=white' | relative_url }}" alt="Git">
      <!-- <img src="{{ 'https://img.shields.io/badge/npm-CB3837?style=for-the-badge&logo=npm&logoColor=white' | relative_url }}" alt="Git">
      <img src="{{ 'https://img.shields.io/badge/MongoDB-4EA94B?style=for-the-badge&logo=mongodb&logoColor=white' | relative_url }}" alt="Git">
      <img src="{{ 'https://img.shields.io/badge/Visual_Studio_Code-0078D4?style=for-the-badge&logo=visual%20studio%20code&logoColor=white' | relative_url }}" alt="Git">
      <img src="{{ 'https://img.shields.io/badge/WebStorm-000000?style=for-the-badge&logo=WebStorm&logoColor=white' | relative_url }}" alt="Git"> -->
      <p class="img-text">Learning...</p>
      <img src="{{ 'https://img.shields.io/badge/React-20232A?style=for-the-badge&logo=react&logoColor=61DAFB' | relative_url }}" alt="React">
      <img src="{{ 'https://img.shields.io/badge/vite-%23646CFF.svg?style=for-the-badge&logo=vite&logoColor=white' | relative_url }}" alt="Vite">
      <img src="{{ 'https://img.shields.io/badge/SASS-hotpink.svg?style=for-the-badge&logo=SASS&logoColor=white' | relative_url }}" alt="Sass">
      <img src="{{ 'https://img.shields.io/badge/tailwindcss-%2338B2AC.svg?style=for-the-badge&logo=tailwind-css&logoColor=white' | relative_url }}" alt="TailwindCSS">
      <img src="{{ 'https://img.shields.io/badge/ejs-%23B4CA65.svg?style=for-the-badge&logo=ejs&logoColor=black' | relative_url }}" alt="EJS">
    </div>



    {% if page.sidebar %}
      {% for s in page.sidebar %}
        {% if s.image %}
          <img src="{{ s.image | relative_url }}"
              alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
        {% endif %}

        {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
        {% if s.text %}{{ s.text | markdownify }}{% endif %}
        {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
      {% endfor %}
      {% if page.sidebar.nav %}
        {% include nav_list nav=page.sidebar.nav %}
      {% endif %}
    {% endif %}


  
  </div>
{% endif %}
